.contact-container {
	padding: 7rem 0 4rem;
}
.contact-header {
	margin: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.contact-content {
	margin: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.contact-footer {
	text-align: center;
}
.social-icons {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 2rem 0;
}
.contact-title {
	font-weight: bold !important;
}

.disabled-links [disabled] {
	/* don't let button block mouse events from reaching wrapper */
	pointer-events: none;
}
