.contact-container {
	height: auto;
	padding-top: 60px;
}
.contact-header {
	margin: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.contact-title {
	font-weight: bold !important;
}
