.experiences-container {
	height: 100vh;
	padding-top: 60px;
}
.experiences-header {
	margin: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.experiences-titles {
	font-weight: bold !important;
}
.org-title {
	font-weight: bold;
}
.org-time-text {
	font-style: italic;
}
.org-img {
	width: 60% !important;
	height: 60% !important;
	align-self: center;
}
