.experiences-container {
	height: auto;
	padding-top: 60px;
}
.experiences-work {
	padding-top: 100px;
}
.experiences-portfolio {
	padding-top: 100px;
}
.experiences-header {
	margin: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.experiences-titles {
	font-weight: bold !important;
}
.experiences-card {
	background-color: #124559 !important;
	border-radius: 20px !important;
}
.experiences-card-body {
	background-color: #124559;
	width: 102.8%;
	border-radius: 20px !important;
	margin: 10px;
}
.col {
	margin-bottom: 30px;
}
.project-card {
	background-color: #124559 !important;
	border-radius: 20px !important;
	margin: 10px;
}
.project-card-body {
	background-color: #124559;
	width: 100%;
	border-radius: 20px;
}
.org-title {
	font-weight: bold;
}
.org-time-text {
	font-style: italic;
}
.org-img {
	width: 60% !important;
	height: 60% !important;
	margin-left: 50px;
}
