.Navbar {
	width: 100%;
	padding: 0.5rem 0;
	background-color: #124559;
	position: fixed;
}
ul {
	list-style: none;
}

.navbar-brand {
	color: #ffffff;
	display: flex;
	align-items: center;
}

.navbar-brand:hover {
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease-in;
	transform: scale(1.05);
}

.socialIcon {
	color: #ffffff;
}
.menuIcon {
	color: #ffffff;
}
.socialIcon:hover {
	transition: all 0.2s ease-in;
	transform: scale(1.2);
	color: lightgrey;
}
