.notfound {
	margin: 100px;
}
.fs-1-NT {
	font-size: 300px;
}
.fs-2 {
	font-size: 50px;
}
.btn {
	margin: 10px;
}
.permission_denied .stars {
	animation: sparkle 1.6s infinite ease-in-out alternate;
}
@keyframes sparkle {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
#astronaut {
	width: 43px;
	position: absolute;
	right: 20px;
	top: 210px;
	animation: spin 4.5s infinite linear;
}
@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
@media (max-width: 600px) {
	.permission_denied h1 {
		font-size: 75px;
	}
	.permission_denied h3 {
		font-size: 16px;
		width: 200px;
		margin: 0 auto;
		line-height: 23px;
	}
	.permission_denied h3 span {
		width: 60px;
	}
	#astronaut {
		width: 35px;
		right: 40px;
		top: 170px;
	}
}

.saturn,
.saturn-2,
.hover {
	animation: hover 2s infinite ease-in-out alternate;
}
@keyframes hover {
	0% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(-3px);
	}
}
.st0 {
	fill: none;
}
.st1 {
	fill: #504e55;
}
.st2 {
	fill: #f39e72;
}
.st3 {
	fill: #ffffff;
}
.st4 {
	opacity: 0.24;
}
.st5 {
	fill: #77574e;
}
.st6 {
	fill: #fbd68d;
}
.st7 {
	fill: #ececec;
}
.st8 {
	fill: #f4a89c;
}
.st9 {
	fill: #cfc9e5;
}
.st10 {
	opacity: 0.28;
}
.st11 {
	opacity: 0.25;
}
.st12 {
	fill: #6f635c;
}
.st13 {
	fill: #dae7be;
}
.st14 {
	fill: #ffe0a6;
}
.st15 {
	fill: #5f5e60;
}
.st16 {
	fill: #cfe1af;
}
.st17 {
	fill: #ebe9f5;
}
.st18 {
	fill: #53515a;
}
.st19 {
	opacity: 0.42;
}
.st20 {
	fill: #53515b;
}
