.profile-container {
	height: 80vh;
	padding-top: 80px;
}
.profile-header {
	margin: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.profile-title {
	font-weight: bold !important;
}
.profile-about-title {
	font-weight: bold !important;
}
.profile-details-title {
	font-weight: bold !important;
}
.profile-details-subtitle {
	font-size: larger !important;
	font-weight: bold !important;
}
.profile-details-text {
	font-size: medium !important;
	font-weight: normal !important;
}
hr.solid {
	border-top: 2px solid #999;
}
.profile-card {
	background-color: var(--color-brand-strong) !important;
	color: var(--color-on-brand);
	border-radius: 20px !important;
}
.profile-card-body {
	background-color: var(--color-brand-strong);
	color: var(--color-on-brand);
	width: 102.8%;
	border-radius: 20px !important;
	margin: 10px;
}
.profile-img > img {
	border-radius: 200px;
	border-color: #aec3b0;
	border-width: 20px;
}
.profile-card p,
.profile-card h2,
.profile-card h5,
.profile-card .card-title,
.profile-card .card-subtitle,
.profile-card .card-text {
	color: var(--color-on-brand);
}
